@import './modules/base.css';
@import './modules/layout.css';
@import './modules/forms.css';
@import './modules/buttons.css';
@import './modules/upload.css';
@import './modules/selectors.css';
@import './modules/searchable-select.css';
@import './modules/timetable-table.css';
@import './modules/timetable-cells.css';
@import './modules/components.css';
@import './modules/responsive.css';
